body {
    background: bisque;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    align-content: center;
    margin: 10px;
    text-align: center;
}

.container {
    align-items: center;
    margin: 10px 10px;
}

.frequency-slider {
    align-items: center;
}

#toggle-play-button {
    width: 150px;
    height: 50px;
    margin: 2rem;
    padding: 1rem 2rem;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.playing {
    background-color: red;
    
}

.not-playing {
    background-color: green;
}

.wave-shape {
    margin: 5px;
}